<header>
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3 align-self-center">
          <div class="header-left">
            <div class="navbar-toggle">
              <%= link_to "#" do %>
                <%= image_tag "menu-button.png" %>
              <% end %>
            </div>
            <h1 class="logo">
              <%= link_to root_path do %>
                <%= image_tag "logo.png" %>
              <% end %>
            </h1>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="header-center">
            <%= form_tag films_path, method: :get do %>
              <%= select_tag :search_option,
                options_for_select(%w(name actors directors),
                selected: params[:search_option]), prompt: "Choose...",
                class: "custom-select" %>
              <%= text_field_tag :search_content, params[:search_content],
                class: "form-control input-field", id: "search-field" %>
              <%= button_tag type: "submit", class: "btn-submit", name: nil do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="header-right">
            <% if user_signed_in? %>
              <span>
                <i class="far fa-user"></i>
                Welcome <%= link_to current_user.name, current_user %>
              </span>
              <%= link_to t(".admin_panel"), admin_path if current_user.admin? %>
              <%= link_to t(".logout"), logout_path, method: :delete  %>
            <% else %>
              <span>
                Welcome Guest
              </span>
              <%= link_to t(".login"), login_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
