<div class="comment-form" id="<%= "#{comment.commentable_type}-#{comment.commentable_id}-form" %>">
  <div id="<%= comment.commentable_type %>-<%= comment.commentable_id %>-errors">
  </div>
  <%= form_for [comment.commentable, comment], remote: true do |f| %>
    <%= f.text_area :content, class: "form-control",
      placeholder: t(".put_comment_placeholder"), cols: "30", rows: "10",
      id: "#{comment.commentable_type}-#{comment.commentable_id}-textarea" %>
    <%= f.submit t(".Submit"), class: "btn btn-submit" %>
  <% end %>
</div>
