<li class="comment" id="<%= comment.commentable_type %>-<%= comment.id %>-comments-li">
  <div class="comment-wrap">
    <div class="avatar">
      <%= image_tag "avatar.png" %>
    </div>
    <div class="info">
      <h4><%= link_to comment.user.name, comment.user %></h4>
      <%= raw comment.content %>
    </div>
    <div class="meta">
      <% if user_signed_in? %>
        <a class="reply" type="button" data-toggle="collapse" href="#Comment-<%= comment.id %>-form" role="button" aria-expanded="false" aria-controls="Comment-<%= comment.id %>-form">
          <%= t ".Reply" %>
        </a>
        <% if current_user.admin? %>
          <%= link_to t("delete"), comment_path(comment), method: :delete,
            remote: true, data: {confirm: t("delete_confirm")} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if comment.commentable.content.present? %>
    <ul class="children" id="Comment-<%= comment.id %>-comments-ul">
      <% if comment.comments.exists? %>
        <%= render partial: "comments/comment", collection: comment.comments %>
      <% end %>
    </ul>
  <% end %>
  <% if user_signed_in? %>
    <%= render partial: 'comments/reply_form', locals: {comment: Comment.new(user_id: current_user.id, commentable: comment)} %>
  <% end %>
</li>
