<table class="table cat-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t ".title" %></th>
      <th scope="col"><%= t ".film" %></th>
      <th scope="col"><%= t ".action" %></th>
      <th scope="col"><%= t ".created_date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= review.title %></td>
        <td><%= link_to review.film_name, film_path(review.film) %></td>
        <td>
          <%= link_to t("edit"), edit_admin_film_review_path(review.film) %> |
          <%= link_to t("delete"), admin_film_review_path(review.film), method: :delete,
                data: {confirm: t("delete_confirm")} %> |
          <%= link_to t(".view"), film_review_path(review.film) %>
        </td>
        <td><%= review.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @reviews %>
