<div class="row">
  <div class="col-md-12">
    <div class="block-section">
      <h3>Film</h3>
      <%= link_to @review.film.name, admin_film_path(@review.film) %>
    </div>
    <div class="block-section">
      <h3>Review title</h3>
      <%= @review.title %>
    </div>
    <div class="block-section">
      <h3>Review content</h3>
      <%= raw(@review.content) %>
    </div>
    <div class="block-section">
      <h3>Action</h3>
      <%= link_to "Edit", edit_admin_review_path(@review) %>
      <%= link_to "Delete", admin_review_path(@review), method: :delete,
            data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
