<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "Films", admin_films_path, class: "nav-link" %>
        <ul class="children">
          <li class="nav-item">
            <%= link_to "Create a movie", new_admin_film_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Categories movies", admin_categories_path, class: "nav-link" %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to "Reviews", admin_reviews_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", admin_users_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
