<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to t(".films"), admin_films_path, class: "nav-link" %>
        <ul class="children">
          <li class="nav-item">
            <%= link_to t(".create_a_movie"), new_admin_film_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".categories_movies"), admin_categories_path, class: "nav-link" %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= link_to t(".reviews"), admin_reviews_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".users"), admin_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".comments"), admin_comments_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
