<div class="film-slider">
      <div class="owl-carousel owl-theme">
          <div class="item film-item">
            <div class="thumb">
                <%= image_tag("1.jpg") %>
            </div>
            <div class="info">
              <div class="rating">
                  <i class="fas fa-star"></i>9/10
              </div>
              <h3>
                <a href="#">Lord of the rings</a>
              </h3>
              <ul class="genre">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Drama</a>
                </li>
              </ul>
              <div class="actors">
                <span>Actors:</span>Tomb Cruise
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="film-tabs">
    <div class="container">
      <h3 class="film-heading">Spotlight This Month <a href="#">See all movies<i class="fas fa-arrow-right"></i></a></h3>
      <div class="film-content">
        <nav>
          <div class="nav" id="nav-tab" role="tablist">
            <a class="nav-item  active" id="nav-home-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Recently Released</a>
            <a class="nav-item " id="nav-profile-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Top rated</a>
            <a class="nav-item " id="nav-contact-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Coming soon</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            <div class="row">
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
            <div class="row">
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
            <div class="row">
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="film-item">
                  <div class="thumb">
                    <%= image_tag("1.jpg") %>
                  </div>
                  <div class="info">
                    <div class="rating">
                      <i class="fas fa-star"></i>9/10
                    </div>
                    <h3>
                      <a href="#">Lord of the rings</a>
                    </h3>
                    <ul class="genre">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Drama</a>
                      </li>
                    </ul>
                    <div class="actors">
                      <span>Actors:</span>Tomb Cruise
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="film-trailers">
    <div class="container">
      <h3 class="film-heading">Trailer This Month <a href="#">See all movies<i class="fas fa-arrow-right"></i></a></h3>
      <div class="film-content">
        <div class="trailer-item">
          <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity class="trailer">
            <%= image_tag("trailer.jpg", class: "thumb-video") %>
            <%= image_tag("play.png", class: "play") %>
            <div class="info-trailer">
              <div class="film-thumb">
                <a href="#">
                  <img src="http://via.placeholder.com/100x100" alt="">
                </a>
              </div>
              <div class="film-info">
                <h3 class="title"><a href="#">The lord of the rings</a></h3>
                <ul class="genres">
                  <li>
                    <a href="#">Drama</a>
                  </li>
                  <li>
                    <a href="#">Comedy</a>
                  </li>
                </ul>
              </div>
              <div class="mark"><span>9.8</span></div>
            </div>
          </a>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-small">
            <div class="trailer-item">
              <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity class="trailer">
                <img class="thumb-video" src="http://via.placeholder.com/650x400" alt="">
                <%= image_tag("play.png", class: "play") %>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-small">
            <div class="trailer-item">
              <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity class="trailer">
                <img class="thumb-video" src="http://via.placeholder.com/650x400" alt="">
                <%= image_tag("play.png", class: "play") %>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-small">
            <div class="trailer-item">
              <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity class="trailer">
                <img class="thumb-video" src="http://via.placeholder.com/650x400" alt="">
                <%= image_tag("play.png", class: "play") %>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-small">
            <div class="trailer-item">
              <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity class="trailer">
                <img class="thumb-video" src="http://via.placeholder.com/650x400" alt="">
                <%= image_tag("play.png", class: "play") %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="film-reviews">
    <div class="container">
      <h3 class="film-heading">Reviews This Month <a href="#">See all reviews<i class="fas fa-arrow-right"></i></a></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="film-review-item">
            <div class="thumb">
              <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
            </div>
            <div class="info">
              <h3><a href="#">Star Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
              <ul>
                <li>
                  <i class="fas fa-film"></i><a href="#">Star wars</a>
                </li>
                <li>
                  <i class="far fa-clock"></i>February 3, 2016
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="film-review-item">
            <div class="thumb">
              <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
            </div>
            <div class="info">
              <h3><a href="#">Star Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
              <ul>
                <li>
                  <i class="fas fa-film"></i><a href="#">Star wars</a>
                </li>
                <li>
                  <i class="far fa-clock"></i>February 3, 2016
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="film-review-item">
            <div class="thumb">
              <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
            </div>
            <div class="info">
              <h3><a href="#">Star Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
              <ul>
                <li>
                  <i class="fas fa-film"></i><a href="#">Star wars</a>
                </li>
                <li>
                  <i class="far fa-clock"></i>February 3, 2016
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="film-review-item">
            <div class="thumb">
              <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
            </div>
            <div class="info">
              <h3><a href="#">Star Wars Ut enim ad minim veniam, quis nostrud exercit</a></h3>
              <ul>
                <li>
                  <i class="fas fa-film"></i><a href="#">Star wars</a>
                </li>
                <li>
                  <i class="far fa-clock"></i>February 3, 2016
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
