<div class="film-main">
  <div class="film-banner"
    style="background-image: url(<%=  @film.poster_url %>)">
  </div>
  <div class="film-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="thumb">
            <% if @film.thumbnail.present? %>
            <%= image_tag @film.thumbnail_url %>
            <% else %>
            <%= image_tag "400x650.png" %>
            <% end %>
          </div>
          <div class="film-info">
            <h4><%= t ".movie_info" %></h4>
            <ul>
              <li>
                <span><%= t ".actor" %></span><%= @film.actors %>
              </li>
              <li>
                <span><%= t ".released_date" %></span><%= @film.release_date %>
              </li>
              <li>
                <span><%= t ".genres" %></span>
                <% @film.categories.each do |category| %>
                  <%= link_to category.name, category_path(category) %>
                <% end %>
              </li>
              <li>
                <span><%= t ".country" %></span><%= @film.country %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="film-review">
            <div class="film-review-left">
              <h1><%= @film.name %></h1>
              <ul class="genres">
                <% @film.categories.each do |category| %>
                  <li>
                  <%= link_to category.name, category_path(category) %>
                  </li>
                <% end %>
              </ul>
              <span class="duration"><%= @film.duration %><%= t ".min" %></span>
                <div class="rate" id="rate" data-rate=<%= @film.average_ratings ? @film.average_ratings : 0 %>>
                <%= t ".rating" %><span id="rateYo">
              </span>
              <span id="count-rate">( <%= @film.raters.count %> )</span>
              </div>
              <%= render "shared/social_share" %>
              <%= render "review" %>
              <%= render "rate-form" %>
            </div>
            <div class="film-review-right">
              <span><%= @film.average_ratings if @film %></span>
            </div>
          </div>
          <div class="film-story text-content text-justify">
            <h3>
              <i class="fas fa-book-open"></i><%= t ".movie_story" %></h3>
            <%= raw @film.introduction %>
          </div>
          <% if @film.trailer.present? %>
          <div class="film-trailer">
            <h3>
              <i class="fas fa-video"></i><%= t ".movie_trailer" %></h3>
            <a href="<%= @film.trailer %>" data-lity class="trailer">
              <% if @film.video_thumbnail.present? %>
                <%= image_tag @film.video_thumbnail_url, class: "thumb-video" %>
              <% else %>
                <%= image_tag "650x400.png", class: "thumb-video" %>
              <% end %>
              <%= image_tag "play.png", class: "play" %>
            </a>
          </div>
          <% end %>
          <%= render "related" %>
        </div>
      </div>
    </div>
  </div>
</div>
