<div class="archive-film-item">
  <div class="thumb">
    <a href="#">
    <% if film.thumbnail.present? %>
      <a href="<%= film_path film %>">
        <%= image_tag film.thumbnail_url %>
      </a>
    <% end %>
    </a>
  </div>
  <div class="info">
    <h3 class="title">
      <%= link_to film.name, film_path(film), class: "text-justify" %>
    </h3>
    <ul class="meta">
      <li>
        <i class="fas fa-archive"></i>
        <% film.categories.each do |category| %>
          <%= link_to category.name, category_path(category) %>
        <% end %>
      </li>
      <li>
        <%= t ".rating" %> <%= film.average_ratings if film %>
      </li>
    </ul>
    <span class="text-muted"><%= t ".released_date" %>
      <%= film.release_date %>
    </span>
    <div class="desc text-justify">
      <%= raw film.introduction.truncate 500 %>
    </div>
    <a href="<%= film_path film %>" class="readmore"><%= t ".view_more" %>
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</div>
