<%= form_for [:admin, @user] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="block-section">
        <h3><%= t ".user_name" %></h3>
        <%= f.text_field :name, class: "form-control",
          placeholder: t(".user_name_placeholder") %>
      </div>
      <div class="block-section">
        <h3><%= t ".email" %></h3>
        <%= f.email_field :email, class: "form-control",
          placeholder: t(".email_placeholder") %>
      </div>
      <div class="block-section">
        <h3><%= t ".password" %></h3>
        <%= f.password_field :password, class: "form-control",
          placeholder: t(".password_placeholder") %>
      </div>
      <%= f.submit t(".btn_title_#{params[:action]}"), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
