<table class="table cat-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".email" %></th>
      <th scope="col"><%= t ".action" %></th>
      <th scope="col"><%= t ".join_date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %> <%= t ".admin" if user.admin? %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to t(".profile"), admin_user_path(user) %> |
          <%= link_to t("edit"), edit_admin_user_path(user) %> |
          <%= link_to t("delete"), admin_user_path(user), method: :delete,
                data: {confirm: t("delete_confirm")} %>
        </td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>
