<div class="row">
  <div class="col-md-12">
    <div class="block-section">
      <h3><%= t ".name" %></h3>
      <%= @user.name %>
    </div>
    <div class="block-section">
      <h3><%= t ".email" %></h3>
      <%= @user.email%>
    </div>
    <div class="block-section">
      <h3><%= t ".join_date" %></h3>
      <%= @user.created_at %>
    </div>
    <div class="block-section">
      <h3><%= t ".comments_count" %></h3>
      <%= link_to t(".comments_count_val", count: @user.comments.count), admin_comments_path(users: @user.id) %>
    </div>
  </div>
</div>
