<!DOCTYPE html>
<html>
  <head>
    <title>Pr1802ReviewFilms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/client/menu" %>
    <%= render "layouts/client/header" %>
    <% flash.each do |message_type, message| %>
      <div class="col-md-12">
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <div class="footer-btm">
        <p>© 2018 Your Company. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
